html, body {
  height: 100%;
  width: 100%;
  background-color: gray;
}

.controlPanel {
  width: 200px;
  position: relative;
}

canvas {
  margin-top: 200px;
  margin-left: 15%;
  display: inline-block;
  background-color: white;
}

