html, body {
  height: 100%;
  width: 100%;
  background-color: gray;
}


canvas {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
  height: 85%;
  display: block;
  background-color: white;
}
