html, body {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
}

.controlPanel {
  width: 50px;
  margin-top: 50px;
  display: inline;
}

canvas {
  margin-top: -10px;
  display: inline;
  background-color: white;
}

#startNodeLabel, #endNodeLabel, #setConnections {
  color: white;
}

input, label{
  display: block;
}

